{% extends 'base.html' %}

{% block title %}

Lista de Tickets - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Voos x Tickets</b></h5>
        <div class="row">
            <div class="col-md-12">

                <br />
                <a href="{% url 'tickets:add_ticket' %}">Cadastro de novo ticket</a>
                <br />
                <br />
                <br />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Status</th>
                            <th scope="col">Preco</th>
                            <th scope="col">Voo</th>
                            <th scope="col">Passageiro</th>
                            <th scope="col">Extras</th>
                            <th scope="col"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <!--começa aqui-->
                                <td scope="row">
                                        {% if ticket.status == 'Finalizado' or ticket.status == 'Cancelado' %}
                                            <p style="color:darkgray;">{{ ticket.id }}</p>
                                        {% else %}
                                            {{ ticket.id }}
                                        {% endif %}
                                </td>
                                <td>
                                    {% if ticket.status == 'Finalizado' or ticket.status == 'Cancelado' %}
                                        <p style="color:darkgray;">{{ ticket.status }}</p>
                                    {% else %}
                                        {{ ticket.status }}
                                    {% endif %}
                                </td>
                                    {% if ticket.status == 'Finalizado' or ticket.status == 'Cancelado' %}
                                        <td><p style="color:darkgray;">{{ ticket.total_price }}</p></td>
                                        <td><p style="color:darkgray;">{{ ticket.flight }}</p></td>
                                        <td><p style="color:darkgray;">{{ ticket.passenger }}</p></td>
                                    {% else %}
                                        <td>{{ ticket.total_price }}</td>
                                        <td>{{ ticket.flight }}</td>
                                        <td>{{ ticket.passenger }}</td>
                                    {% endif %}
                                <td>
                                    {% for ticket_extra in tickets_extras %}
                                        {% if ticket_extra.ticket_id == ticket.id %}
                                            {% for extra in extras %}
                                                {% if extra.id == ticket_extra.extra_id %}
                                                    <b>Extra: {{ ticket_extra.extra}}</b></br>
                                                    <b>Preço: {{ extra.price}}</b></br>
                                                {% endif %}
                                            {% endfor %}     
                                        {% endif %} 
                                    {% endfor %}
                                </td>

                                

                                <!--termina aqui-->
                                <td>
                                    <td><a href="{% url 'tickets:add_ticket_extra' ticket.id %}"
                                        class="btn btn-primary btn-sm ">Adicionar Extra</a></td>
                                    <td><a href="{% url 'tickets:edit_ticket' ticket.id %}"
                                        class="btn btn-primary btn-sm ">Editar</a></td>
                                    <td><a href="{% url 'tickets:delete_ticket' ticket.id %}"
                                        class="btn btn-danger btn-sm ">Excluir</a></td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}