{% extends 'base.html' %}

{% block title %}

    Lista de Tickets - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Voos x Tickets</b></h5>
        <div class="row">
            <div class ="col-md-12">

                <br />
                <a href="{% url 'tickets:add_ticket' %}">Cadastro de novo ticket</a>
                <br />
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Preco Total</th>
                    <th scope="col">Passageiro</th>
                    <th scope="col">Voo</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Extras</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <th scope="row">
                                {{ ticket.id }}
                            </th>
                            <td>
                                {{ ticket.status }}
                            </td>
                            <td>
                                R$ {{ ticket.total_price }}
                            </td>
                            <td>
                                {{ ticket.flight }}
                            </td>
                            <td>
                                {{ ticket.passenger }}
                            </td>
                            <td>
                                <a href="{% url 'tickets:add_ticket_extra' ticket.id %}" class="btn btn-primary btn-sm ">Adicionar</a>
                                <br /> Primeira classe - R$ 1000,00 
                                <br /> Champagne - R$ 500,00 
                                <br /> Caviar - R$ 300,00 

                            </td>
                            <td>
                                <a href="{% url 'tickets:edit_ticket' ticket.id %}" class="btn btn-primary btn-sm ">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'tickets:delete_ticket' ticket.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}