{% extends 'base.html' %}

{% block title %}

    Lista de Passageiros - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Passageiros</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'passengers:add_passenger' %}">Cadastro de novo passageiro</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Passaporte</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Atendimento especial?</th>
                    <th scope="col">Bagagem permitida (KG)</th>
                    <th scope="col">Redes sociais</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for passenger in passengers %}
                        <tr>
                            <th scope="row">{{ passenger.id }}</th>
                            <td>{{ passenger.first_name }}</td>
                            <td>{{ passenger.last_name }}</td>
                            <td>{{ passenger.address }}</td>
                            <td>{{ passenger.cell_phone }}</td>
                            <td>{{ passenger.email }}</td>
                            <td>{{ passenger.gender }}</td>
                            <td>{{ passenger.passport }}</td>
                            <td>{{ passenger.photo }}</td>
                            <td>{{ passenger.doc }}</td>
                            <td>
                                {% if product.special_needs == True %}
                                    Sim
                                {% endif %}
                                {% if product.special_needs == False %}
                                    Não
                                {% endif %}
                            </td>
                            <td>{{ passenger.cargo_allowance }}</td>
                            <td>
                                {% for passenger_socialnetwork in passenger_socialnetworks %}
                                    {% if passenger_socialnetwork.client_id == passenger.id %}
                                        <li>{{ passenger_socialnetwork.socialnetwork }}</li>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'passengers:edit_passenger' passenger.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'passengers:delete_passenger' passenger.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                            <td>
                                <a href="{% url 'tickets:add_ticket' %}" class="btn btn-primary btn-sm">Comprar</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}
