apps/categories/__pycache__/*
apps/categories/migrations/*
apps/core/__pycache__/*
apps/core/migrations/*
apps/assets/__pycache__/*
apps/assets/migrations/*
apps/areas/__pycache__/*
apps/areas/migrations/*
apps/units/__pycache__/*
apps/units/migrations/*
aeroapp/__pycache__/*
apps/accounts/__pycache__/*
apps/accounts/migrations/*
apps/aircrafts/__pycache__/*
apps/aircrafts/migrations/*
apps/cities/__pycache__/*
apps/cities/migrations/*
apps/clients/__pycache__/*
apps/clients/migrations/*
apps/countries/__pycache__/*
apps/countries/migrations/*
apps/flights/__pycache__/*
apps/flights/migrations/*
apps/orders/__pycache__/*
apps/orders/migrations/*
apps/products/__pycache__/*
apps/products/migrations/*
apps/routes/__pycache__/*
apps/routes/migrations/*
apps/socialnetworks/__pycache__/*
apps/socialnetworks/migrations/*
apps/states/__pycache__/*
apps/states/migrations/*