{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<body style="min-height: 100vh; display: flex; flex-direction: column;">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
        <link href="sticky-footer.css" rel="stylesheet">
        <!-- MDB 
        <link rel="stylesheet" href="{% static 'css/mdb.dark.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mdb.dark.rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">-->
        <title>{% block title %}Aero App{% endblock title %}</title>
    </head>

    {% block header %}
    <header>
        <!-- INICIO: Bloco do Bootstrap a ser incluido -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Aero App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if user.is_authenticated %}

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Localização</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item" href="{% url 'countries:list_countries' %}">Países</a>
                            <a class="dropdown-item" href="{% url 'states:list_states' %}">Estados</a>
                            <a class="dropdown-item" href="{% url 'cities:list_cities' %}">Cidades</a>
                        </div>
                    </li>
                </ul>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Passageiros</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="{% url 'passengers:list_passengers' %}">Passageiros</a>
                            </div>
                        </li>
                    </ul>

                    <div class="collapse navbar-collapse" id="navbarsExample05">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Aeroporto</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown05">
                                    <a class="dropdown-item" href="{% url 'aircrafts:list_aircrafts' %}">Aeronaves</a>
                                    <a class="dropdown-item" href="{% url 'flights:list_flights' %}">Vôos</a>
                                </div>
                            </li>
                        </ul>

                        <div class="collapse navbar-collapse" id="navbarsExample05">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Tickets</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                                        <a class="dropdown-item" href="{% url 'extras:list_extras' %}">Extras</a>
                                        <a class="dropdown-item" href="{% url 'tickets:list_tickets' %}">Tickets</a>
                                    </div>
                                </li>
                            </ul>

                            <form action="#" method="GET" class="form-inline my-2 my-md-0" style="margin-right: 10px">
                                <input class="form-control" name="query" type="text" aria-label="Buscar"
                                    style="margin-right: 10px">
                                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
                            </form>

                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        {{user.username}}</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                                        <a class="dropdown-item"
                                            href="{% url 'accounts:user_change_information' user.username %}">Conta</a>
                                        <a class="dropdown-item" href="{% url 'accounts:user_change_password' %}">Trocar
                                            senha</a>
                                        <a class="dropdown-item" href="{% url 'accounts:user_logout' %}">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
        </nav>
    </header>     <!-- FIM: Bloco do Bootstrap a ser incluido -->
    {% endblock %}

    <body style="min-height: 100vh; display: flex; flex-direction: column;">


        {% block body %}

        {% endblock body %}

        <main style="flex-grow: 1;">
            {% block content %}
            {% endblock %}
        </main>

        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/select2.min.js' %}"></script>


        {% block footer%} 

        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted lg-12" style="width: 100vw !important;">
            <!-- Section: Social media -->

            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3"></i>Desenvolvimento Web - Grupo 2
                            </h6>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                <a href="https://github.com/anleaes/2021-1-N2-dev02">Source</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Paginas
                            </h6>
                            <p>
                                <a href="{% url 'tickets:list_tickets' %}" class="text-reset">Tickets</a>
                            </p>

                            <p>
                                <a href="{% url 'flights:list_flights' %}" class="text-reset">Voos</a>
                            </p>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Contato
                            </h6>
                            <p><i class="fas fa-home me-3"></i> Avenida Castelo Branco, 255</p>
                            <p><i class="fas fa-home me-3"></i> Horizontina, Rio Grande do Sul</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->


        </footer>
        <!-- Footer -->
        {% endblock footer %}
    </body>

</html>