aeroapp/apps/categories/__pycache__/*
aeroapp/apps/categories/migrations/*
aeroapp/apps/core/__pycache__/*
aeroapp/apps/core/migrations/*
aeroapp/apps/assets/__pycache__/*
aeroapp/apps/assets/migrations/*
aeroapp/apps/areas/__pycache__/*
aeroapp/apps/areas/migrations/*
aeroapp/apps/units/__pycache__/*
aeroapp/apps/units/migrations/*
aeroapp/aeroapp/__pycache__/*
aeroapp/apps/accounts/__pycache__/*
aeroapp/apps/accounts/migrations/*
aeroapp/apps/aircrafts/__pycache__/*
aeroapp/apps/aircrafts/migrations/*
aeroapp/apps/cities/__pycache__/*
aeroapp/apps/cities/migrations/*
aeroapp/apps/clients/__pycache__/*
aeroapp/apps/clients/migrations/*
aeroapp/apps/countries/__pycache__/*
aeroapp/apps/countries/migrations/*
aeroapp/apps/flights/__pycache__/*
aeroapp/apps/flights/migrations/*
aeroapp/apps/orders/__pycache__/*
aeroapp/apps/orders/migrations/*
aeroapp/apps/products/__pycache__/*
aeroapp/apps/products/migrations/*
aeroapp/apps/routes/__pycache__/*
aeroapp/apps/routes/migrations/*
aeroapp/apps/socialnetworks/__pycache__/*
aeroapp/apps/socialnetworks/migrations/*
aeroapp/apps/states/__pycache__/*
aeroapp/apps/states/migrations/*